@model  MvcAdminTemplate.Models.VmDashboard
@{
    ViewBag.Title = "Dashboard";
}
@Styles.Render("~/Content/Vendors")

@Html.Partial("_LeftMenu")
<!-- content -->
<div class="col-md-10">
    <div class="row">
        <div class="alert alert-success bootstrap-admin-alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Success</h4>
            The operation completed successfully
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Statistics</div>
                <div class="pull-right"><span class="badge">View More</span></div>
            </div>
            <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                <div class="col-md-3">
                    <div class="easyPieChart" data-percent="@Model.RateVisitors" style="width: 110px; height: 110px; line-height: 110px;">@Model.RateVisitors%<canvas width="110" height="110"></canvas></div>
                    <div class="chart-bottom-heading"><span class="label label-info">Heart Rate</span></div>
                </div>
                <div class="col-md-3">
                    <div class="easyPieChart" data-percent="@Model.RatePageViews" style="width: 110px; height: 110px; line-height: 110px;">@Model.RatePageViews%<canvas width="110" height="110"></canvas></div>
                    <div class="chart-bottom-heading"><span class="label label-info">BPM</span></div>
                </div>
                <div class="col-md-3">
                    <div class="easyPieChart" data-percent="@Model.RateUsers" style="width: 110px; height: 110px; line-height: 110px;">@Model.RateUsers%<canvas width="110" height="110"></canvas></div>
                    <div class="chart-bottom-heading"><span class="label label-info">BodyTemperature</span></div>
                </div>
                <div class="col-md-3">
                    <div class="easyPieChart" data-percent="@Model.RateOrders" style="width: 110px; height: 110px; line-height: 110px;">@Model.RateOrders%<canvas width="110" height="110"></canvas></div>
                    <div class="chart-bottom-heading"><span class="label label-info">BloodPressure</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Users</div>
                    <div class="pull-right"><span class="badge">1,234</span></div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.Users)
                            {
                                <tr>
                                    <td>@item.Item1</td>
                                    <td>@item.Item2</td>
                                    <td>@item.Item3</td>
                                    <td>@item.Item4</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/vendors")

    <script type="text/javascript">
        $(function () {
            // Easy pie charts
            $('.easyPieChart').easyPieChart({ animate: 1000 });
        });
    </script>
}
